@font-face {
  font-family: "Gilroy Extra Bold";
  src: url("../fonts/gilroy-extrabold-webfont.woff") format("woff"),
       url("../fonts/gilroy-extrabold-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Light";
  src: url("fonts/gilroy-light-webfont.woff") format("woff"),
       url("fonts/gilroy-light-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Gilroy Extra Bold";
  font-weight: 700;
}

p {
  font-family: "Gilroy Light";
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

.text-gradient {
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  background: -webkit-linear-gradient(-70deg,#58CBC6,#81DD5C);
  /* background: -webkit-linear-gradient(-70deg,#a2facf,#64acff); */
  -webkit-background-clip: text;
  background-clip: text;
}

.top-section-container {
  background-image: url("https://res.cloudinary.com/dzixj0ktk/image/upload/v1617692943/Illustration_for_mobile_with_shading_vwzcbp.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 100%;
  width: 100%;
}

.content-container {
  margin-top: auto;
  margin-bottom: 25%;
}

.header {
  text-align: center;
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: -.025em;

  text-shadow: 0px 0px 25px rgb(255 255 255 / 10%);
}

.tagline {
  color: #8193b2;
  font-style: italic;
  margin-bottom: 5%;
  text-align: center;
}

/* AppStore Badge Styling */
.content-container > a {
  display: flex;
  justify-content: center;
}

.links-container {
  margin-top: auto;
  margin-bottom: 5px;

  font-family: "Gilroy Light";
  font-weight: 400;

  font-size: 14px;
}

.link {
  text-decoration: none;
  color: #fff;
}

.copyright {
  color: #fff;
  margin-bottom: 5px;

  font-family: "Gilroy Light";
  font-weight: 400;

  font-size: 12px;
}

@media (min-width: 768px) {
  .top-section-container {
    background-image: url("https://res.cloudinary.com/dzixj0ktk/image/upload/v1617692960/Illustration_with_shading_u8ylzx.png");
  }

  .content-container {
    margin-bottom: 0;
  }
}
